<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout/admin_layout"
      th:with="currentPage='order'">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div>

<header>

</header>

    <table>
        <thead>
            <tr>가게명</tr>
            <tr>상품명</tr>
            <tr>총 판매수량</tr>
            <tr>총 판매금액</tr>
        </thead>
        <tbody>
            <tr>1</tr>
            <tr>1</tr>
            <tr>1</tr>
            <tr>1</tr>
        </tbody>
    </table>

</body>
</html>