<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout/admin_layout"
      th:with="currentPage='order'">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div>

<header>

</header>

    <table border="1">
            <th>가게명</th>
            <th>상품명</th>
            <th>총 판매수량</th>
            <th>총 판매금액</th>
            <tr th:each="li : ${list}">
                <td th:text="${li.store}"></td>
                <td th:text="${li.productName}"></td>
                <td th:text="${li.totalCount}"></td>
                <td th:text="${li.totalPrice}"></td>

            </tr>
    </table>

</body>
</html>